
#bubbletree-wrapper { 
	width: 100%; 
	height: 100%; 
	position: absolute; 
}

#bubbletree { 
	background: #fff; 
	position: relative; 
	height: 100%; 
	overflow: hidden; 
}

#bubbletree .label { 
	position: absolute; 
	color: #fff; 
	text-align: center; 
	cursor: default; 
}

#bubbletree .amount { 
	font-family: Graublau, Georgia, sans-serif; 
	font-size: 16px; 
}

#bubbletree .desc { 
	font-family: sans-serif; 
	font-size: 11px;

}

#bubbletree .label2 { 
	position: absolute; 
	color: #000; 
	text-align: center; 
	cursor: default; 
	font-size: 11px;
	font-family: sans-serif;
	margin-top:5px;
}

#bubbletree .label2 span {
	background: #fff;
}