
#bubble-chart-wrapper { 
	width: 100%; 
	height: 100%; 
	position: absolute; 
}

#bubble-chart { 
	background: #fff; 
	position: relative; 
	height: 100%; 
	overflow: hidden; 
}

#bubble-chart .label { 
	position: absolute; 
	color: #fff; 
	text-align: center; 
	cursor: default; 
}

#bubble-chart .amount { 
	font-family: Graublau, Georgia, sans-serif; 
	font-size: 16px; 
}

#bubble-chart .desc { 
	font-family: sans-serif; 
	font-size: 12px 


}

#bubble-chart .label2 { 
	position: absolute; 
	color: #000; 
	text-align: center; 
	cursor: default; 
	text-transform: uppercase;
	font-size: 10px;
	font-family: sans-serif;
	margin-top:5px;
}

#bubble-chart .label2 span {
	background: #fff;
}