{
	srcPath: 'src'
	outPath: 'build'
	outStylePath: 'build/bubbletree.css'
	outScriptPath: 'build/bubbletree.js'
	scripts: [
		'js/bubbletree.js'
		'js/loader.js'
		'js/utils.js'
		'js/mouseeventgroup.js'
		'js/transitioner.js'
		'js/vector.js'
		'js/layout.js'
		'js/bubbles/plain.js'		
		'js/bubbles/donut.js'		
		'js/bubbles/icon.js'		
		'js/line.js'
		'js/ring.js'
	]
	styles: [
		'css/bubbletree.css'
		'css/page.css'
		'css/tooltip.css'
	]
	compress: true
}