
.bubbletree-wrapper .tooltip { 
	max-width: 220px; 
	border: 1px solid #999; 
	position: absolute; 
	background: #fff; 
	z-index: 9999;
	box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	border-radius: 2px;
	font-family: sans-serif; 
	font-size: 13px; 
	padding: 4px;
}

.bubbletree-wrapper .tooltip .header {
	padding: 6px;
}

.bubbletree-wrapper .tooltip .header .icon {
	width: 38px;
	height: 38px;
	float: left;
	background: #600;
	border-radius: 19px;
	margin-right: 8px;
}

.bubbletree .tooltip svg {
	width: 100px; height: 100px; fill: black; display: block; position: relative; visibility: visible; 
	z-index: 10000;
}

.bubbletree .tooltip svg path {
	fill-opacity: 1; visiblity: visible;
}

.bubbletree-wrapper .tooltip .row {
	clear: both;
	border-top: 1px solid #999; padding: 6px;
}


#tooltip {
	position: absolute;
	z-index: 3000;
	background-color: #fff;
	padding: 5px;

	border: 1px solid #999;
	box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	border-radius: 2px;
	font-family: sans-serif; 
	font-size: 13px; 
	padding: 4px;	
}

#tooltip .amount {
	font-weight: bold;
}

#tooltip h3, #tooltip div { margin: 0; }

p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }
